In [3]:
import pandas as pd 
import numpy as np

In [6]:
data=pd.read_csv("C:/Users/HP/Desktop/datasets/Pokemon.csv")

In [7]:
data.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [8]:
data.index
# veri setinde 800 adet veri varmış

RangeIndex(start=0, stop=800, step=1)

In [9]:
len(data)

800

In [10]:
# oyuncuların sahip oldugu güçler
data.HP

0      45
1      60
2      80
3      80
4      39
       ..
795    50
796    50
797    80
798    80
799    80
Name: HP, Length: 800, dtype: int64

In [11]:
# oyuncuların güçlerinin aritmetik ortalaması
data.HP.mean()

69.25875

In [12]:
# en büyük güç değeri 
data.HP.max()

255

In [13]:
# en yüksek atak gücü
data["Attack"].max()

190

In [14]:
# 190 atak güzüne sahip kişi kim?
data[data["Attack"]==190]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True

In [15]:
# 190 atak gücüne sahip oyuncunun Type1 degeri 
data[data["Attack"]==190]["Type 1"]

163    Psychic
Name: Type 1, dtype: object

In [16]:
# sütun bilgileri [] den giriliyordu ama satır bilgileri iloc[] metodlarından gelirdi
data[data["Attack"]==190]["Type 1"].iloc[0]

'Psychic'

In [18]:
# Pikachu isimli oyuncunun defans degeri 
data[data["Name"]=="Pikachu"]["Defense"].iloc[0]

40

In [25]:
data.groupby("Type 1")

In [26]:
# kaç tane oyuncu türü var (oyuncu tür isimleri satırlarda yer alıyor )
data["Type 1"].nunique()

18

In [27]:
# elimizde 18 tane tür var her türden kaç tane karakter var 
data["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64